[Desktop Entry]
Name=Hardware Test
Comment=Test your PocketGo2v2
Exec=pg2_test_go.gcw
Terminal=false
Type=Application
StartupNotify=true
Icon=pg2_test_go
Categories=applications;
